*{
	padding: 0;
	margin: 0;
}
.body{
	height: 100%;
	padding: 0;
	margin: 0;
	padding-bottom: 50px; 
}
.hedaer{
	background-color: #5fc0cd;
	width: 100%;
	height:3rem;
	text-align: center;
	position: fixed;
	top: 0;
	color: #ffffff;
	line-height: 60px;
}
.hedaer span{
	line-height:3rem;
	color: #ffffff;
	font-size:1.2rem;
}
.hedaer_left{
	position: absolute;
	left: 1rem;
	top: 1px;
}
.hedaer_left>img{
	width: 10px;
}
.mian{
	background-repeat: no-repeat;
	background-image: url("images5/mian.png");
	width: 100%;
	height: 180px;
	background-size: 100%;
	margin-top:3rem;
	
	
}
.mian_left{
	width: auto;
	height: 150px;
	float: left;
}
.mian_left1{
	background-color: #ffffff;
	width: 80px;
	height: 80px;
	background-image: url("images5/tou.png");
	border-radius: 50%;
	background-size: 100%;
	margin-left: 25px;
	margin-top: 40px;
	display: inline-block;
}
/*.mian_right{
	width: auto;
	height: 150px;
	color: #ffffff;
	font-size: 1.2rem;
}*/
.mian_top1{
	float: left;
	width: auto;
	margin-top: 55px;
	margin-left: 1.5rem;
}
.top1_img{
	position: absolute;
	margin-top: 5.1rem; 
	left: 8rem;
	
}
.top1_img > img{
	width: 10px;
}
.mian_top2{
 	float: left;
	width: auto;
	margin-top: 5rem;
	margin-left: -55px;
	text-align: center;
}
.footr{
	width: 100%;
	font-size: 1rem;
	height: 35px;
}
.footr_blue{
	height: 15px;
	width: 3px;
	background-color:  #5fc0cd;
	margin-left: 10px;
	margin-top:4px; 
	float: left;
}
.footr_p{
	margin-left:25px;
	font-weight: bold;
}
.inc{
	width: 100%;
	font-size: 1rem;
	height: 40px;
	padding-top: 10px;
	position: relative;

}
.inc1{
	position: absolute;
	left: 2rem;
	
}
.inc1 .inc2>img{
	width: 15px;
}
.inc2{
	position: absolute;
	left: 4rem;

}

.inc3{
	position: absolute;
	left: 7.5rem;
}
.inc4{
	position: absolute;
	left: 9.5rem;
}
.mian_h1{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;

}
.mian_h2{
	position: absolute;
	left: 2rem;
	color: #666666;
}
.mian_hi{
	width: 1px;
	height: 25px;
	background-color: #aaaaaa;
	position: absolute;
	left: 6.5rem;
	top: 10px;

}
.mian_h3{
	position: absolute;
	left: 7.5rem;
	font-weight: bold;
}
.h_red{
	position: absolute;
	left: 7.5rem;
	color: red;
}
.bottom_h1{
	position: relative;
	height: auto;
	width: 100%;
	display: flex;
}
.bottom_h2{
	display: flex;
	align-items: center;
	min-width: 5rem;
	margin: 5px 2rem;

}
.bottom_h3{
 	margin-left: -25px;: 
    color: #333333;
}
.bottom{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
}
.input1{
	width: 49%;
	background-color: #5fc0cd;
	border: none;
	border-radius: 5px;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid #5fc0cd;
}
.input2{
	width: 49%;
	background-color: #5fc0cd;
	border: none;
	border-radius: 5px;
	height: 50px;
	background-color: #5fc0cd;
	color: #ffffff;
}
